$page-width: 65rem;

.page-header {
  display: flex;
  width: $page-width;
  max-width: 100%;
  margin-top: 5rem;
}

.spacer-container {
  flex-basis: 25%;
}

.card-row {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.25rem;
  flex-flow: row wrap;
  justify-content: center;
  width: $page-width;
  max-width: 100%;

  &.search {
    gap: 0;
  }

  &.last {
    padding-bottom: 5rem;
  }
}
