.weather-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: -0.25rem;
  flex-basis: 25%;

  img {
    width: 4rem;
    margin-bottom: -0.75rem;
  }

  .temp {
    display: flex;
    align-items: baseline;
    * {
      padding-right: 0.25rem;
    }
    .max {
      font-size: 2rem;
      .degrees {
        font-size: 1.25rem;
      }
    }
    .min {
      font-size: 1.3rem;
    }
    .degrees {
      font-size: 1rem;
      vertical-align: super;
    }
  }
}
